.movies-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(199px, 1fr));
  column-gap: 30px;
  row-gap: 57px;
  padding: 0;
  margin: 80px 70px 28px; 
  max-width: 1140px;
}

@media screen and (max-width: 768px) {
  .movies-card-list {
    row-gap: 45px;
    margin: 80px 30px 12px;
  }
}

@media screen and (max-width: 480px) {
  .movies-card-list {
    row-gap: 36px;
    margin: 50px 10px 13px;
  }
}