.movies {
  max-width: 1280px;
  display: flex;
  flex-direction: column;

}

.movies__error-empty {
  color: white;
  margin: 40px auto;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
}